*{
    padding:0px;
    margin:0px;
}

body{
    margin: 30px;
}

.container{
    background-color: black;
    color: white;
    padding: 30px;
    line-height: 35px;
}
.container1{
    margin-top: 10px;
}
.main_container{
     display: flex;
     background-color: aqua;
     color: black;
     margin-top: 15px;
     gap: 10px;
}
.Sub_container1{
    display: flex;
    background-color: rgb(0, 255, 0);
    color: black;
}
.end.part{
    background-color: black;
    color:antiquewhite;
    line-height: 35px;
    margin-top: 20px;
    padding: 20px;
}